.git
node_modules
vendor
public/build
storage/app/public
storage/framework/cache
storage/framework/sessions
storage/framework/views
storage/logs
.env
.env.*
!.env.example
.phpunit.cache
.phpunit.result.cache
.idea
.vscode
.fleet
